<ion-header [translucent]="true">
<ion-toolbar>
  <ion-title>
    ABM Firebase
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-input type="email" placeholder="Ingrese su email" [(ngModel)]="usuario.email"></ion-input>
<ion-input type="password" placeholder="Ingrese su password" [(ngModel)]="usuario.password"></ion-input>

<ion-button (click)="altaUsuario()">Alta Usuario</ion-button>

<h6>Lista de Usuarios</h6>
<ul>
  <li *ngFor="let user of listaDeUsuarios " (click)="obtenerPorId(user.id)">{{user | json }}
    <ion-icon name="trash-outline" (click)="eliminar(user.id)"></ion-icon>
  </li>
</ul>

<ion-button (click)="modificar()">
  Modificar Usuario
</ion-button>

<ion-card>
  <ion-grid >
    <ion-row *ngFor="let user of listaDeUsuarios ">
      <ion-col offset-4="">
        {{user.id}}     
      </ion-col>
      <ion-col offset-4="" >
        {{user.email}}
      </ion-col>
      <ion-col offset-4="">
        {{user.password}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>



<ion-item>
  <ion-label>Imagen</ion-label>
  <ion-buttons>
    <ion-button>
      <label for="file-upload">
        <ion-icon name="images-outline"></ion-icon>
      </label>
      <input (change)="newImageUpload($event)" id="file-upload" style="display:none" type="file" accept=".png, .jpg, .jpeg" >
    </ion-button>
  </ion-buttons>
</ion-item>

<img [src]="newImage" >







</ion-content>
